# Created by .ignore support plugin (hsz.mobi)
.idea
*/target
target
*/*.iml
*.iml
bitsail-batch-core/dependency-reduced-pom.xml
bitsail-table/dependency-reduced-pom.xml
bitsail-dump/dependency-reduced-pom.xml
output
bitsail-io/src/test/resources/debug.json
*/.classpath
*/.factorypath
*/.project
*/.settings
*/dependency-reduced-pom.xml
*/*/dependency-reduced-pom.xml
*/*/*/dependency-reduced-pom.xml
*/*/*/*/dependency-reduced-pom.xml
.settings
.project
pom.xml.versionsBackup
*/pom.xml.versionsBackup
.DS_Store
*/.DS_Store
.flattened-pom.xml
*/*.flattened-pom.xml